body {
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;    
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

html{
    scroll-behavior: smooth;    
}

html, body {
    overflow-y: scroll;
}

body H1 {
    font-size: 15pt;
}

::-webkit-scrollbar {
    display: none;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.navbar-brand>.material-icons-outlined {
    font-size: 40px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.container text-center {
    background: #f9f7f3;
    height: 5REM;
    padding-top: 5px;
}

.container-name {
    margin-left: 50px;
}

.about>.material-icons-outlined {
    font-size: 50px;
}

.card>img {
    height: 250px;
}

.testimonial>img {
    height: 50px;
    width: 50px;
}

.custom-text {
    color: #6a00ce;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.3px #700074;
}

.normal-text {
    color: #dbdbdb;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.3px #000000;
}

.my-button {
    color: #ffffff;
    background-color: #6a00ce;
    padding: 5px 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    -webkit-text-stroke: 0.2px #000000;
}

.my-button img {
    max-height: 2.5em;
    width: auto;
    vertical-align: middle;
}

.my-button:hover {
    border-color: #260049;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.scroll-indicator {
    position: fixed;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.scroll-indicator a {
    padding: 10px;
    position: relative;
}

.scroll-indicator a::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

.scroll-indicator a.active::after{
    background: #6a00ce;
    color: #6a00ce;
    transform: translate(-50%, -50%) scale(1.3);
}

.scroll-indicator a::before{
    content: attr(data-section);
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(4px, -50%);
    background: darkgrey;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 2px 14px;
    text-transform: uppercase;
    font-size: 11px;
    pointer-events: none;
    box-shadow: 0 7px 14px -6px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 400ms ease;
}

.scroll-indicator a:hover::before{
    opacity: 1;
    transform: translate(0, -50%);
}

form{
  max-width: 600px;
  width: 100%;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}